{% extends "base.html" %}
{% block title %}WebLogo Generator{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">WebLogo Generator</h2>

  <form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="fasta_file" class="form-label">Please upload your fasta file here:</label>
      <input type="file" class="form-control" id="fasta_file" name="fasta_file" accept=".fa,.fasta" required>
    </div>


    <div class="mb-3">
      <label for="user_email" class="form-label">Please enter your Email: </label>
      <input type="email" class="form-control" id="user_email" name="user_email" required>
    </div>

    <button type="submit" class="btn btn-primary">Create the WebLogo and send the file</button>
  </form>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-danger mt-3">
        {% for msg in messages %}
          <p>{{ msg }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  {% if logo_path %}
    <div class="mt-4">
      <h3>WebLogo Result：</h3>
      <img src="{{ url_for('static', filename=logo_path) }}" alt="WebLogo 圖片" class="img-fluid" style="max-width: 600px;">
    </div>
  {% endif %}
</div>
{% endblock %}
